@media only screen and (max-width: 768px) {
    #homepage .navbar-main{
        position: fixed;
        top: 0;
        width: 100%;
        max-width: 100%;
    }

    #homepage .navbar-main .navbar .navbar-brand{
        padding: 15px 0;
    }
    #homepage .navbar-main .navbar .navbar-brand img{
        height: 25px;
    }

    .navbar-dark .navbar-toggler{
        border: none;
        box-shadow: none;
        outline: none;
    }
    .navbar>.container{
        padding: 0 0 0 16px !important;
    }

    #homepage .two-column-section .col-12{
        padding: 0 16px !important;
    }

    #homepage .two-column-section,
    #homepage .profile,
    #homepage .verticals,
    #homepage .investor-section,
    #homepage .three-column-section{
        padding: 40px 0;
    }

    #homepage .verticals{
        padding-bottom: 100px;
    }

    
    .heading h1{
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 30px;
    }

    #homepage .homepage-banner .homepage-banner-inner{
        top: 50%;
    }

    .homepage-banner .homepage-banner-inner .chat-icon{
        right: 10px;
        bottom: -170px;
    }

    #homepage .navbar-main .navbar .navbar-nav .nav-item.button{
        margin-left: 0;
        margin-top: 10px;
    }

    #homepage .homepage-banner .homepage-banner-inner .inner-box{
        margin: auto;
        width: 75%;
        text-align: center;
    }

    #homepage .profile .image img{
        max-width: 100%;
    }

    .homepage-banner .homepage-banner-inner .inner-box h1,
    #homepage .profile .content h2,
    #homepage .what-we-do .content-box h2,
    #homepage .two-column-section .col-12 .content-box h2{
        font-size: 28px;
        line-height: 35px;
        margin-bottom: 20px;
    }

    #homepage .what-we-do .content-box{
        padding-right: 16px;
        margin-bottom: 35px;
        text-align: center;
    }

    .homepage-banner .homepage-banner-inner .inner-box p{
        font-size: 18px;
        margin-bottom: 25px;
    }

    #homepage .what-we-do .container{
        padding: 20px 16px;
    }

    #homepage .what-we-do .content-box h2{
        max-width: 100%;
    }

    #homepage .investor-section .content-box{
        text-align: center;
    }

    #homepage .investor-section .counts{
        padding-left: 16px;
        margin-top: 20px;
    }

    #homepage .investor-section .counts .d-flex{
        flex-wrap: wrap;
    }

    #homepage .investor-section .counts .d-flex .item{
        flex-basis: 100%;
        width: 100%;
        border-bottom: 1px solid rgb(48, 48, 48);
        margin-bottom: 20px;
        text-align: center;
    }

    #homepage .investor-section .counts .d-flex .item h3{
        font-size: 22px;
        line-height: 33px;
    }

    #homepage .profile .content{
        padding-left: 16px;
        margin-top: 50px;
        padding-right: 16px;
    }

    #homepage .two-column-section .col-12 .topbox{
        margin-bottom: 30px;
    }

    #homepage .profile .org img{
        margin: auto;
        width: 100%;
        display: block;
    }

    #homepage .two-column-section .col-12 .content-box{
        max-width: 100%;
        margin-bottom: 20px;
    }

    #homepage .two-column-section .col-12 .topbox h3{
        font-size: 30px;
        line-height: 30px;
        bottom: 20px;
        left: 15px;
    }

    #homepage .three-column-section img{
        margin-bottom: 25px;
    }
    
    #homepage .footer{
        padding: 60px 0;
    }

    #homepage .footer .inner .menu{
        text-align: center;
    }

    #homepage .footer .menu p.heading{
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    #homepage .footer .menu ul li a{
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
    }

    #homepage .footer{
        padding-bottom: 20px;
    }


    #homepage .footer .form .socials{
        justify-content: center;
        margin-top: 20px;
    }

    #homepage .footer .form .socials li a{
        margin-right: 0;
        padding: 15px;
        border: 1px solid #fff;
        width: 70px;
    }

    #homepage .footer .form{
        text-align: center;
    }
    

}