html, body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-decoration: none;
    box-sizing: border-box;
    border-collapse: collapse;
    outline: none;
}

/* default  */
h1, h2, h3, h4, h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #383838;
}

p{
  font-weight: 300; 
}

#homepage{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

.theme-buttom{
    display: inline-block;
    padding: 10px 35px;
    color: #383838;
    background-color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    text-decoration: none;
    font-size: 17px;
    transition: all .3s ease-in-out;
    border: 1px solid transparent;
}

.theme-buttom:hover, .theme-buttom:focus{
    background-color: #383838;
    color: #f5f5f5;
}

.theme-buttom.primary{
    background-color: #E22022;
    color: #fff;
}

.theme-buttom.primary:hover, .theme-buttom.primary:focus{
    background-color:#D3AC61;
    color: #383838;
}


.container.custom{
    max-width: 1140px;
}

.heading h1{
    color: #707070;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 40px;
}

/* navbar */
#homepage .navbar-main{
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    max-width: 1500px;
    width: 100%;
    margin: auto;
    z-index: 99;
}

#homepage .navbar-main .navbar{
    background-color: #000000;
}

#homepage .navbar-main .navbar .navbar-brand{
    padding: 32px 0;
}

#homepage .navbar-main .navbar .navbar-brand img{
    position: relative;
    top: -3px;
}

#homepage .navbar-main .navbar .navbar-nav .nav-item .nav-link{
    font-size: 17px;
    color: #fff;
    line-height: 23px;
    font-weight: 300;
    padding: 8px 20px;
    text-transform: uppercase;
}

#homepage .navbar-main .navbar .navbar-nav .nav-item .nav-link:hover{
    color: #D3AC61;
}

#homepage .navbar-main .navbar .navbar-nav .nav-item.dropdown .nav-link::after{
    display: none;
}

#homepage .navbar-main .navbar .navbar-nav .nav-item.dropdown .dropdown-menu{
    top: 77px;
    border-radius: 0;
    border: none;
    background: #000;
    color: #fff;
    padding: 30px 0;
    margin: 0;
    min-width: 265px;
}

#homepage .navbar-main .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item{
    font-size: 17px;
    color: #C6C6C6;
    line-height: 23px;
    font-weight: 300;
    padding: 10px 10px 10px 50px;
    text-transform: uppercase;
}

#homepage .navbar-main .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover,
#homepage .navbar-main .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:focus,
#homepage .navbar-main .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:active{
    color: #E22022;
    background-color: #fff;
    border: none;
    outline: none;
}

#homepage .navbar-main .navbar .navbar-nav .nav-item.button{
    margin-left: 150px;
}

#homepage .navbar-main .navbar .navbar-nav .nav-item.button .nav-link{
    padding: 10px 45px;
    font-weight: 700;
}

#homepage .navbar-main .navbar .navbar-nav .nav-item.button .nav-link:hover{
    color: #383838;
}


/* banner  */
#homepage .homepage-banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
}

#homepage .homepage-banner .banner-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#homepage .homepage-banner .homepage-banner-inner{
    position: absolute;
    max-width: 1500px;
    margin: auto;
    z-index: 99;
    top: 60%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

#homepage .homepage-banner .homepage-banner-inner .inner-box{
    max-width: 460px;
    width: 100%;
    margin-left: 105px;
}

.homepage-banner .homepage-banner-inner .inner-box h1{
    font-weight: 300;
    font-size: 42px;
    line-height: 55px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.homepage-banner .homepage-banner-inner .inner-box p{
    color: #383838;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 50px;
}

.homepage-banner .homepage-banner-inner .chat-icon{
    position: absolute;
    right: 100px;
    bottom: -100px;
}

/* what-we-do section  */
#homepage .what-we-do{
    background: #F7F7F7;
    padding: 50px 0;
}

#homepage .what-we-do .container{
    background: #fff;
    padding: 40px 70px 100px 70px;
}

#homepage .what-we-do .content-box{
    padding-right: 50px;
}

#homepage .what-we-do .content-box h2{
    font-size: 32px;
    line-height: 40px;
    color: #000;
    margin-bottom: 25px;
    font-weight: 400;
    max-width: 70%;
}

#homepage .what-we-do .content-box p{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #373A3C;
    margin-bottom: 40px;
}

#homepage .what-we-do .slider-box .splide .splide__list .splide__slide img{
    width: 100%;
    height: auto;
}

#homepage .what-we-do .slider-box .splide .splide__pagination{
    bottom: -50px;
}

#homepage .what-we-do .slider-box .splide .splide__pagination .splide__pagination__page{
    width: 9px;
    height: 9px;
    background-color: #707070;
    margin: auto 5px;
}

#homepage .what-we-do .slider-box .splide .splide__pagination .splide__pagination__page.is-active{
    transform: none;
    background-color: #E22022;
}

#homepage .investor-section{
    padding: 70px 0;
}

#homepage .investor-section .content-box h2{
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    color: #000;
    margin-bottom: 30px;
    
}

#homepage .investor-section .content-box p{
    color: #373A3C;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    
}

#homepage .investor-section .counts{
    padding-left: 50px;
}

#homepage .investor-section .counts .d-flex{
    justify-content: space-between;

}

#homepage .investor-section .counts .d-flex .item{
    flex-basis: 25%;
    width: 25%;
    position: relative;
}

#homepage .investor-section .counts .d-flex .item::after{
    content: '';
    position: absolute;
    right: -30px;
    top: 50px;
    height: 62px;
    width: 1px;
    background-color: #C1C1C1;
}

#homepage .investor-section .counts .d-flex .item:last-child:after{
    display: none;
}

#homepage .investor-section .counts .d-flex .item h3{
    font-size: 32px;
    line-height: 43px;
    font-weight: 400;
    color: #707070;
}

#homepage .investor-section .counts .d-flex .item h3 span.count{
    display: block;
    color: #E22022;
}

#homepage .verticals{
    background: #F7F7F7;
    padding: 40px 0 140px 0;
}

#homepage .verticals .verticals-splide .splide__list .splide__slide{
    position: relative;
}

#homepage .verticals .verticals-splide .splide__list .splide__slide img{
    width: 100%;
    height: auto;
}

#homepage .verticals .verticals-splide .splide__list .splide__slide .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 100%);
    z-index: 1;
}

#homepage .verticals .verticals-splide .splide__list .splide__slide h3{
    position: absolute;
    bottom: 40px;
    left: 25px;
    max-width: 100%;
    width: 60%;
    margin: auto;
    color: #fff;
    font-size: 24px;
    line-height: 29px;
    font-weight: 300;
    z-index: 4;
}

#homepage .verticals .verticals-splide .splide__arrows .splide__arrow--prev{
    display: none;
}

#homepage .verticals .verticals-splide .splide__arrows .splide__arrow--next{
    bottom: -95px;
    top: auto;
    border-radius: 0;
    width: 47px;
    height: 47px;
    background: #C3C3C3;
}

#homepage .verticals .verticals-splide .splide__arrows .splide__arrow--next svg{
    width: 100%;
    height: 40px;
}

#homepage .profile{
    padding: 80px 0 40px 0;
}

#homepage .profile .image img{
    max-width: 353px;
    width: 100%;
    height: auto;
}

#homepage .profile .content{
    padding-left: 70px;
    margin-top: 50px;
    padding-right: 70px;
}

#homepage .profile .content h2{
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
}

#homepage .profile .content p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #373A3C;
}

#homepage .profile .org img{
    margin-top: 40px;
}

#homepage .profile .profile-splide .splide__list .splide__slide img{
    width: 100%;
    height: auto;
}

#homepage .profile .profile-splide .splide__arrows .splide__arrow--prev{
    display: none;
}

#homepage .profile .profile-splide .splide__arrows .splide__arrow--next{
    border-radius: 0;
    width: 47px;
    height: 47px;
    right: -85px;
    background: #C3C3C3;
}

#homepage .profile .profile-splide .splide__arrows .splide__arrow--next svg{
    width: 100%;
    height: 40px; 
}

#homepage .two-column-section{
    background: #F7F7F7;
    padding: 80px 0;
}

#homepage .two-column-section .col-12 {
    position: relative;
}

#homepage .two-column-section .col-12 .topbox{
    position: relative;
    margin-bottom: 70px;
}

#homepage .two-column-section .col-12 .topbox .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,0) 100%);
    z-index: 1;
}

#homepage .two-column-section .col-12 .topbox h3{
    position: absolute;
    bottom: 50px;
    left: 35px;
    max-width: 100%;
    width: 60%;
    margin: auto;
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    z-index: 4;
}

#homepage .two-column-section .col-12 .content-box{
    max-width: 332px;
}

#homepage .two-column-section .col-12 .content-box h2{
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
}

#homepage .two-column-section .col-12 .content-box p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #373A3C;
    margin-bottom: 30px;
}

#homepage .two-column-section .col-12 .content-box a.text-link{
    font-size: 17px;
    line-height: 23px;
    font-weight:700;
    color: #E22022;
    transition: .2s ease-in-out;
}

#homepage .two-column-section .col-12 .content-box a.text-link:hover{
    color: #D3AC61;
}

#homepage .three-column-section{
    padding: 80px 0;
}

#homepage .three-column-section img{
    width: 100%;
    margin-bottom: 55px;
}

#homepage .three-column-section p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #373A3C;
    margin-bottom: 30px;
}

#homepage .footer{
    padding: 125px 0 145px 0;
    background: #070707;
    border-top: 1px solid #707070;
}

#homepage .footer .inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#homepage .footer .menu p{
    font-size: 16px;
    color: #fff;
    line-height: 21px;
    margin-bottom: 25px;
}

#homepage .footer .menu p.heading{
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 35px;
    text-transform: uppercase;
}

#homepage .footer .menu ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#homepage .footer .menu ul li a{
    font-size: 16px;
    display: block;
    color: #fff;
    line-height: 21px;
    margin-bottom: 20px;
    text-decoration: none;
    font-weight: 300;
    transition: .3s ease-in-out;
}

#homepage .footer .menu ul li a:hover{
    color: #D3AC61;
}


#homepage .footer .form{
    padding-top: 10px;
}

#homepage .footer .form .socials{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

#homepage .footer .form .socials li a{
    display: inline-block;
    margin-right: 30px;
}

#homepage .footer .form .socials li a svg{
    height: 23px;
    width: auto;
    fill: #fff;
    color: #fff;
    transition: .2s ease-in-out;
}

#homepage .footer .form .socials li a:hover svg{
    transform: scale(1.1);
    color: #D3AC61;
}

#homepage .footer .form form label{
    font-size: 16px;
    color: #fff;
    line-height: 21px;
    font-weight: 300;
    margin-bottom: 20px;
}

#homepage .footer .form form input{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    min-height: 40px;
}

#homepage .footer .form form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    text-transform: capitalize;
}
#homepage .footer .form form::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    text-transform: capitalize;
}
#homepage .footer .form form:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    text-transform: capitalize;
}
#homepage .footer .form form:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    text-transform: capitalize;
}

#homepage .footer .form form button{
    background: #E22022;
    padding: 10px 20px;
    text-transform: uppercase;
    margin-top: 20px;
    border-radius: 0;
    border: 0;
    outline: none;
    box-shadow: none;
    transition: .2s ease-in-out;
}

#homepage .footer .form form button:hover{
    background: #D3AC61;
}

#homepage .footer .form .logo{
    margin-top: 40px;
}

#homepage .footer .form .logo p{
    color: #fff;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    margin-top: 30px;
    text-transform: capitalize;
}